################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XM23p-Pipelined--Register-Instructions/.vs/XM23p-Pipelined--Register-Instructions
